body{
    background-image: url("view.jpg");
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: 100% 100%;
}

nav{
    background-color: rgb(0, 0, 83);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 160px;
    margin-right: auto;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 1000px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	border-radius: 10px;
	font-size:20px;
}

th{
	padding: 15px;
	background-color:rgb(255,255,255,0.3);
	color: white;
}

th {
	text-align: left;
}

thead {
		background-color:rgb(255,255,255,0.3);
}

tbody {

		background-color:rgb(255,255,255,0.3);

	}
	
	td {
		background-color:rgb(255,255,255,0.3);
		position: relative;
		margin-top: 20px;
		margin-bottom: 20px;
		padding-left: 10px;
    	padding-top: 10px; 
		
	}