<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>AdminHome</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="adminstyle.css">

  
</head>
<body>
	<nav>
        <img src = "whale.png" class="logo">
        <ul>
            <li><a href="/adminHome">HOME</a></li>
          	<li><a href="/admin">PENDING POST</a></li>
            <li><a href="/" id="logout">LOG OUT</a></li>       
        </ul>
    </nav>
	<div class="userpage">
		
		<div class="search">
            <form th:action="@{/adminHomeSearch}" method="get" class="search-bar">
                <input type="text" placeholder="Search anything" name="keyword" th:value="${keyword}">
                <button type="submit" class="btn btn-search"><span class="glyphicon glyphicon-search"> Search</span></button>
				<button type="submit" class="btn btn-clear"> <span class="glyphicon glyphicon-remove">Clear</span></button>
            </form>
        </div>
		<br>
		<br>
		<th:block th:each = "post: ${posts}">
          	<div class="posted-1">
          		<h2>ID: <span th:text="${post.Id}"></span></h2>
          		<br/>
          		<h5>Reply ID: <a th:href="@{/reply/{replyId}(replyId=${post.replyId})}"><span th:text="${post.replyId}"></span></a></h5>
          		<br/>
          		<p><span th:text="${post.text}"></span></p>
          		<br/>
          		<h5>Date: <span th:text="${post.date}"></span></h5>
          		<br/>
          		<div class="image">
           			<td th:if="${post.PhotosImagePath}"><img th:src="@{${post.PhotosImagePath}}"  width="300"  height="280" /></td>
					<td th:unless="${post.PhotosImagePath}"></td>
				</div>
				<a th:href="@{/deletePosted/{id}(id=${post.Id})}" class="btn btn-delete">Delete</a>
          	</div>
    	</th:block>
	</div>
</body>
</html>