<!DOCTYPE html>
<html>
<head>
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Confession</title>
    <link rel="stylesheet" href="style.css">
    
</head>

<body>

       
        
        <div class="hero">

            <video autoplay loop muted plays-inline class="back-video">
                <source src="videowhale.mp4" type="video/mp4">
            </video>


       
            <div class="bg-modal-admin">
                <div class="admin-modal-content">
                    <div class="close-admin-login">+</div>
                    <h1>Admin Login</h1>
                    <img src="profilepic.jpg" alt="">
                    <form th:action="@{/login}" method="post">
                        <input type="text" name="username" placeholder="Username" class="admintext">
                        <input type="password" name="password" placeholder="Password" class="admintext">
                        <button type="submit" class="btnSubmit">Login</button>
                        
                    </form>
                </div>
            </div>

            <!--navigation bar-->
            <nav>
                <img src = "logo.png" class="logo">
                <ul>
                    <li><a href="/" id="home">HOME</a></li>
                    <li><a href="#confess" id="confess">CONFESS</a></li>
                    <li><a href="#login" id="admin">ADMIN LOGIN</a></li>
                </ul>
            </nav>
            
            <!-- success message -->
			<div th:if="${param.success}">
				<div class="submitMessage">
					Your confession will be published soon!
					<br/>
					<a href="/view"> Click here to view your confession</a>
				</div>
			</div>
								
			<div th:if="${param.errorRepeat}">
				<div class="submitMessage">Fail to submit! Similar post have been submitted</div>				
			</div>
			<div th:if="${param.errorSame}">
				<div class="submitMessage">Fail to submit! The content contains repeated text</div>				
			</div>
			<div th:if="${param.errorBad}">
				<div class="submitMessage">Fail to submit! The content contains bad tone</div>				
			</div>
			
			<div th:if="${param.invalid}">
				<div class="submitMessage">Invalid username or password</div>				
			</div>
				
            <!--header and button for Confess-->
            <div class="content">
                <h1>I Whale Confess</h1>
                <a href="#" id="btnConfess" class="btnConfess" >Confess</a>
            </div>

          
    <div class="bg-modal">
        <div class="modal-content">
        
        <div class="top">
        	<img src="profilepic.jpg">                   
           	<div id="iWhaleConfess">I Whale Confess</div>
            <div class="close">+</div>
        </div>
        
            
            <form th:action="@{/}" method="post" enctype="multipart/form-data">
            	<div>
                    <select placeholder="Reply Id" name="replyId" id="replyIdtxt">
						<option value= >Select Post to Reply</option>
						<option th:each="status:${statusDropdown}" th:value="${status.Id}" th:text="${status.Id}"></option>
					</select>
                    <textarea placeholder="I want to confess..." id="confesstxt" rows = "10"  name="text" type="text" required autofocus="autofocus"></textarea>
					<br/>
					<label class="addphoto"> Add a photo: </label>
					<br/>
					<input type="file" name="image" accept="image/png, image/jpeg" class="selectimg">
                </div>
                <div class="center">
                    <button type="submit" class="btnSubmit">
                        Submit Confession
                    </button>
             </div>
                    
            
					
                
            </form>
            
            
            
        </div>
    </div>
</div>

   







<div class="userpage">
    
    <div>
        <form th:action="@{/search}" method="get" class="input">
            
            
            <div class="search-row">
            <input type="text" placeholder="Search anything" name="keyword" th:value="${keyword}">
            <button type="submit" class="btn btn-search"><span class="glyphicon glyphicon-search"> Search</span></button>
			<button type="submit" class="btn btn-clear"> <span class="glyphicon glyphicon-remove">Clear</span></button>
            </div>
        
        </form>
        
    </div>
   

            <th:block th:each = "post: ${posts}">
            	<div class="container">
            		<h2>ID: <span th:text="${post.Id}"></span></h2>
            		<br/>
            		<h5>Reply ID: <a th:href="@{/reply/{replyId}(replyId=${post.replyId})}"><span th:text="${post.replyId}"></span></a></h5>
            		<br/>
            		<p class="usertext"><span th:text="${post.text}"></span></p>
            		<br/>
            		
            		<br/>
            		<div class="post-image">
	            		<td th:if="${post.PhotosImagePath}"><img th:src="@{${post.PhotosImagePath}}" /></td>
	            		<td th:unless="${post.PhotosImagePath}"></td>
					</div>
					<h5>Date: <span th:text="${post.date}"></span></h5>
					
            	</div>
            </th:block>
        </div>
        
        <script>

          window.onload=function(){
            document.getElementById('btnConfess').addEventListener('click', function(){
                document.querySelector('.bg-modal').style.display = 'flex';
            });

            document.querySelector('.close').addEventListener('click', function(){
                document.querySelector('.bg-modal').style.display = 'none';
            });


            document.getElementById('confess').addEventListener('click', function(){
                document.querySelector('.bg-modal').style.display = 'flex';
            });

            document.getElementById('admin').addEventListener('click', function(){
                document.querySelector('.bg-modal-admin').style.display = 'flex';
            });

            document.querySelector('.close-admin-login').addEventListener('click', function(){
                document.querySelector('.bg-modal-admin').style.display = 'none';
            });
            
            // document.getElementById('btnSubmit').addEventListener('click', function(){
            //     //will pop up the line stating confession #id and date
            // })
          }
        </script>

</body>



</html>